@{
    ViewData["Title"] = "Tracker Application";
    InfoCardModel card1 = new InfoCardModel();
    card1.Title = "Belgelerini takip etmek yerine bırak belgeler seni takip etsin.";
    card1.Description = "Vadeli evraklarının son tarihleri yaklaşırken e-posta kutuna hatırlatıcılar gelsin.";
    card1.ImageUrl = "/assets/TrackerBsite.png";
}

<h1>Geçerlilik Süresi Takip Sistemi</h1>
<div class="text-center">    
    <p><a asp-controller="Screen" asp-action="Index" class="btn btn-primary">Enter the tracker app</a>.</p>

</div>
