@model InfoCardModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="info-card" onclick="location.href='@Model.Link'">
    <h1>@Model.Title</h1>
    <p>@Model.Description</p>
    <img src="@Model.ImageUrl"/>
</div>
