.info-card {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    box-shadow: gray 2px 2px;
}
    .info-card:hover {
        cursor: pointer;
        animation-name: shading;
        animation-duration: 2s;
        animation-timing-function: ease-in;
    }
    .info-card h1 {
        color: forestgreen;
        font-size: 16pt;
        width: 100%;
        text-align: center;
    }
.info-card p {
    font-size: 14pt;
    width: 90%;
}

@keyframes shading {
    from {
        box-shadow: gray 2px 2px;
    }

    to {
        box-shadow: gray 20px 20px;
    }
}