@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Bu uygulamada sadece yetkili giriş için email bilgileriniz ve kaydetmiş olduğunuz belgelere dair veriler tutulmaktadır. Bunun dışında herhangi bir kişisel bilgi tutulmamaktadır.</p>

<p>Herhangi bir pazarlama veya veri toplama amaçlı çerez kullanımı bulunmamaktadır. Yalnızca Login sistemi tarafından sistemin size tanımladığı çerezler kullanılmaktadır.</p>